#jumbotron{
 background-image: url(https://images.unsplash.com/photo-1601172737447-a1bc284c5005?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGZhcm1lcnMlMjBtYXJrZXR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60);
 background-position: center;
 background-size: cover;
}