.schedule-col{
  padding: 15px;
  border: 1px solid #e7e7e7;
  background-color: white;
}

.schedule-item{
  text-align: center;
}

.schedule-day p {
  font-weight: bolder;
}

.month{
  text-align: center;
}




